
<h3 class="team-index-title">チーム一覧</h3>

<div class="container-fluid ">
  <div class="row">
    <div class ="col-md-2 side-table">
      <%= render "users/sidebar", user: current_user %>
    </div>
      <%= render "teams/index", team: @team %>
  </div>
</div>