
	  <% @belongs.each do |belong| %>
	    <%= belong.user.name %>
	  <% end %>

	<% if team.belonged_by?(current_user) %>
    <%= link_to team_belongs_path(team), method: :delete, remote: true do %>
    <button type="button" style='width: 245px;', class="btn btn-warning"> 脱退する</button>
    <% end %>
	<% else %>
    <%= link_to team_belongs_path(team), method: :post, remote: true do %>
    <button type="button" style='width: 245px;', class="btn btn-primary"> 所属する</button>
    <% end %>
	<% end %>