/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 	@import "bootstrap-sprockets";  /*ここを追加*/
 	@import "bootstrap";            /*ここを追加*/

//全体への記述
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-color: #f3f3f3;
}



/ヘッダーに対しての記述/
.nav {
	margin-top: 10px;
}

header{
	color:white;
	.navbar-left{
		span{
			font-size:20px;
			padding-top:10px;
		}
	}
}

header {

	background-color: #66CC66;
	height: 50px;
	width: 100%;
}

.header-logo {
	margin-left: 50px;
}

.header-nav {
	margin-right:70px;
}

.logo-text {
	margin: 10px 0 0 0;
}

footer {
	background-color: #2f4f4f;
	height: 70px;
}

.footer-right {
	color: white;
	margin-left: 100px;
}

//サイドバー
.sidetable {
	text-align: center;
	float: left;
	padding: 10px;
}

.sidebar-content {
	padding:10px;
	padding: 0.5em 1em;
    margin: 2em 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);

}

//フッター

