// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.no-user {
	margin-top: 50px;
}


.follow-text {
	padding: 200px;
	font-size: 20px;
}