// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//indexページ
.team-image-box {
	width: 250px;
	background-color: white;
}

.box-content {
	text-align: left;
}

.team-text-box{
	background-color: #b0c4de;
	padding-left: 30px;
}

.team-text {
	padding-bottom: 10px;
}

.team-title {
	font-size: 8px;
}

.iine {
	text-align: center;
}


// showページ

.team-show-header {
  text-align: center;
  margin: 100px;
}

.row {
	height: 200px;
}