// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-content {
	margin: 30px 30px 100px 30px;
	flex-wrap: wrap;
	float: left;
}

.col-xs-12 {
	text-align: center;
}


.sign-up-row {
	height: 380px;
}

.sign-field {
	height: 60px;
}

//showページ
.member-show-head {
	text-align: center;
	margin-bottom: 80px;
}


//indexページ
.member-index-head {
	text-align: center;
}

.uesr-box {
	float: left;
	margin: 0 60px 30px 0;
	
}

.user-all-box {
	width: 320px;
	background-color: white;
}